<div class="container mt-5">
  <div class="alert alert-danger text-center" role="alert">
    {{error}}
  </div>
  <div class="text-center">
    <a href="/" class="btn btn-primary">Volver al inicio</a>
  </div>
</div>