<div class="product_list">
    <div>
        <h1>Lista de Productos</h1>
    </div>
    <div>
        <ul>
            {{#each products}}
            <li>{{code}} - {{title}} - ${{price}}</li>
            {{/each}}
        </ul>
    </div>
</div>