<div class="wellcome">
  <h1>¡Bienvenido a la API de eCommerce!</h1>
  <div class="text-center">
  <a href="http://localhost:8080/home" class="btn btn-primary custom-btn">Ver Productos habilitados</a>
  <a href="http://localhost:8080/carts" class="btn btn-primary custom-btn">Ver Carritos Activos</a>
  <a href="http://localhost:8080/realtimeproducts" class="btn bg-darkcyan custom-btn">Ver Gestion de Productos en Tiempo Real</a>
</div>
