
<div class="bottom-section box-shd">

        <div class="right-panel">
             <div class="col-md-4 bg-darkcyan text-white p-3 w-100">
                <h2 class="text-center">Informacion del producto</h2>

                {{> productForm}}
                
            </div>
        </div>

        <div class="left-panel product_list">
        </div>
</div>

<script src="/static/js/index.js"></script>
