<div class="bottom-section box-shd">

        <div class="right-panel">
             <div class="col-md-4 bg-darkcyan text-white p-3 w-100">
                <h2 class="text-center">Agregar Producto</h2>

                {{> productForm}}
                
            </div>
        </div>

        <div class="left-panel product_list">
        </div>
</div>

<!-- Modal de Confirmación -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog model-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-darkcyan text-white">
                <h5 class="modal-title" id="deleteModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="pTitleToDelete">
                ¿Estás seguro de que quieres eliminar este producto?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Eliminar</button>
            </div>
        </div>
    </div>
</div>
<div class="container w-100"></div>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="static/js/index.js"></script>
<script src="/static/js/utils.js"></script>