body{
    background-color: #d1ecf3;
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 10px;
    justify-content: center;
}

.wellcome{
    text-align: center; 
    font-size: 2em; 
    font-family: Arial;
    padding: 50px;
    background-color: white;
}

.box-shd {
    box-shadow: 5px 5px 10px gray;
}

.product_list {
    background-color : white;
}

.custom-btn{
    width: 40%;
    height: 60px;
    margin-top:30px;
    font-size: 1.5rem; /* Ajusta el tamaño del texto */
    height: auto; /* Ajusta el alto al contenido */
}

.bg-darkblue {
    background-color: #2958bd !important; /* Azul oscuro personalizado */
    color: white !important; /* Texto blanco para contraste */
}

.bg-darkcyan {
    background-color: rgb(114, 12, 161) !important; /* Azul oscuro personalizado */
    color: white !important; /* Texto blanco para contraste */
}

.coderhouse-title {
    background-color: black;
    color:white;
    font-weight: bold;
    padding: 10px;
}

.coderhouse-comision {
    font-size: 20px;
}

.coderhouse-curso {
    font-size: 35px;
}

/* Contenedor principal */
.grid-container {
    display: grid;
    grid-template-rows: auto 1fr; /* Fila superior tamaño automático, fila inferior flexible */
    grid-template-columns: 1fr; /* Una sola columna general */
    height: 100vh; /* Ocupar toda la pantalla */
}

/* Sección superior */
.header {
    color: white;
    text-align: start;
    padding: 20px;
    font-size: 24px;
}

/* Contenedor de la sección inferior */
.bottom-section {
    display: grid;
    grid-template-columns: 500px 1fr; /* Columna fija + columna flexible */
}

/* Columna izquierda (fija) */
.left-panel {
    padding: 20px;
}

/* Columna derecha (ocupa el resto) */
.right-panel {
    padding: 0px;
}